@import url("./base.css");

@import url("./header.css");

@import url("./first-section.css");

@import url("./second-section.css");

@import url("./third-section.css");

@import url("fourth-section.css");

@import url("./footer.css");

@import url("./modal.css");

@import url("./mobile-menu.css");


.navigation:hover,
.navigation:focus {
  color: #404bbf;
}




.button:hover,
.button:focus {
  background-color: #404bbf;
}



.third-section {
  background-color: #f4f4fd;
}


.footer {
  background-color: #2e2f42;
}

.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.studio-second {
  color: #f4f4fd;
}


.nav-items {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}


.info {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info:hover {
  color: #404bbf;
}





.description {
  text-align: center;
}
















.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.footer-paragraph {
  max-width: 264px;
}


.footer .container {
  display: flex;
  align-items: baseline;
}


.socialmedia-title-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.socialmedia-list-footer {
  display: flex;
  gap: 16px;
}

.socialmedia-item-footer {
  width: 40px;
  height: 40px;
}


.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}



.subscribe-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label-title {
  color: white;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}



.subscribe-input:hover,
.subscribe-input:focus {
  border: 1px solid rgba(49, 208, 170, 1);
}

.subscribe-input:placeholder {
  color: #ffffff;
}





.radius:hover,
.radius:active {
  border: 1px solid rgba(64, 75, 191, 1);
  background-color: rgba(64, 75, 191, 1);
}

.radius:hover .icon-mark {
  fill: white;
}














